.container{
  border: 2px solid;
  margin-top: 5%;
  height: 48ch;
  width: 41%;
  border-radius: 10px;
}

.signup{
  margin-top: 4%;
  width: 100;
}

.heading{
  display: flex;
  justify-content: center;
}

.showData{
  border: 2px solid;
  margin-top: 15%;
}

.btn{
  display: flex;
  justify-content: center;
}